body, html {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.2rem;
}
  
.game-container{
    flex-grow: 1;
    width: 100%;
}


.game-description{
    height: 3rem;
    text-align: start;
}


.game-status{
    padding: 10px 10px 10px 0px;
}

.game-status :first-child{
    text-align: center;
    align-items: center;
    cursor: pointer; 
    border: 1px solid rgb(32, 32, 32);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    transition:box-shadow 0.2s ease, transform 0.2s ease;
}

.game-status :first-child:hover{
    box-shadow: 1px 1px 1px 1px;
    transform:translate(6px,6px)
}

.none{
    display:none;
}

.cards{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 5px;
    margin: 1px 1px 1px 1px;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-justify:inter-ideograph;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    transform: scale(1);
    padding: 3rem 1rem 1rem 1rem;
}

.cards:active {
    transform: scale(0.97);
    transition: transform .2s;
    backface-visibility: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* japanese */
.cards pre:nth-child(1){
    font-size: 1.8rem;

}

/* english */
.cards pre:nth-child(2){
    font-size: 1rem;

}

.flip{
    background-color:rgb(255, 255, 255);
    backface-visibility: hidden;

}

.cards-lower{
    background-color:rgb(0, 0, 0);
    backface-visibility: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    color: black;
}

.matched {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    opacity: .2;
}

.blocked {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    backface-visibility: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.congratulations{
 text-align: left;
 height:100%;
 width:100%;  
 padding: 2rem; 
}